/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
}

h1,
h2,
h3,
h5 {
  font-family: 'Poppins', sans-serif;
}


/*navbar styling*/
.logo {
  max-width: 100px;
}

.navbar {
  background-color: #082B59;
}


/*page and card styling*/

.coffee-h1 {
  text-align: center;
  margin-top: 3rem;
}

.main-card {
  margin: 2rem auto;
  max-width: 500px;
}

.card-container {
  margin: 2rem;
}

.bigger {
  font-size: 18px;
  margin-left: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  background-color: #59331D !important;
  border-color: #59331D !important;

}

.btn-primary:hover {
  background-color: #D98555 !important;
  border-color: #D98555 !important;
}



/*footer styling*/
.footer-top-border {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #D98555;
}

.footer {
  background-color: #131D26;
}



@media (min-width: 768px) {

  .card-container {
    display: grid;
    margin: 1rem;
    grid-column-gap: 1rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .75fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card3"
  }

  .card1 {
    grid-area: card1;
  }

  .card2 {
    grid-area: card2;
  }

  .card3 {
    grid-area: card3;
  }
}

@media (min-width: 1025px) {

  .card-container {
    display: flex;
    margin: auto 2rem;
  }
}

/*styles for the individual coffee page*/

.coffee-title {
  margin: 2rem auto 2rem 1rem;
}

.coffee-image {
  border-radius: 10px;
  margin: auto 1rem;
}

.coffee-copy {
  margin: 1rem 1rem
}

.card-coffee {
  max-width: 125px;
  margin: 8px 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.coffee-about {
  padding-top: 1rem;
  margin: auto 1rem;
}